
<!doctype>
<html>
    <head>
        {% include 'AppBundle:Templates:required-css.html.twig' %}
        <link href="{{ asset('bundles/app/css/job-list.css') }}" rel="stylesheet">
    </head>

    <body>
        
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
            <div class="logo-holder">
                <a href="{{path('profile')}}"><img src="{{ asset('bundles/app/img/logo.png') }}"></a>
            </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


              <ul class="nav navbar-nav navbar-right">

                <li><a href="{{path('profile')}}"><button type="submit" class="btn btn-navigation">Home</button></a></li>
                <li><a href="{{ path('premium_jobs_list') }}"><button type="submit" id="active" class="btn btn-navigation">Tracking</button></a></li>
                <li><a href="{{ path('premium_queries_list') }}"><button type="submit" class="btn btn-navigation">History</button></a></li>
                <li><a href="{{path('logout')}}"><button type="submit" class="btn btn-navigation">Log out</button></a></li>
              </ul>
            </div>
          </div>
        </nav>

        <h1 style="text-align: center">Graph for keyword: {{ queryJob.query[0].text }}</h1>

        <div class="canvas-holder"><canvas id="myChart" width="800" height="400"></canvas></div>
        <div id="chartjs-tooltip"></div>
        {% include 'AppBundle:Templates:required-js.html.twig' %}
        <script type="text/javascript" src="{{ asset('bundles/app/js/Chart.js') }}"></script>
        <script type="text/javascript">
          Chart.defaults.global = {
              animation: true,
              animationSteps: 60,
              animationEasing: "easeOutQuart",
              showScale: true,
              scaleOverride: false,
              scaleSteps: null,
              scaleStepWidth: null,
              scaleStartValue: 0,
              scaleLineColor: "rgba(0,0,0,1)",
              scaleLineWidth: 2,
              scaleShowLabels: true,
              scaleLabel: "<%=value%>",
              scaleIntegersOnly: false,
              scaleBeginAtZero: false,
              scaleFontFamily: "'Helvetica Neue', 'Helvetica', 'Arial', sans-serif",
              scaleFontSize: 12,
              scaleFontStyle: "normal",
              scaleFontColor: "#666",
              responsive: false,
              maintainAspectRatio: true,
              showTooltips: true,
              customTooltips: false,
              tooltipEvents: ["mousemove", "touchstart", "touchmove"],
              tooltipFillColor: "rgba(0,0,0,0.8)",
              tooltipFontFamily: "'Helvetica Neue', 'Helvetica', 'Arial', sans-serif",
              tooltipFontSize: 14,
              tooltipFontStyle: "normal",
              tooltipFontColor: "#fff",
              tooltipTitleFontFamily: "'Helvetica Neue', 'Helvetica', 'Arial', sans-serif",
              tooltipTitleFontSize: 14,
              tooltipTitleFontStyle: "bold",
              tooltipTitleFontColor: "#fff",
              tooltipYPadding: 6,
              tooltipXPadding: 6,
              tooltipCaretSize: 8,
              tooltipCornerRadius: 6,
              tooltipXOffset: 10,
              {% verbatim %}
              tooltipTemplate: "<%if (label){%><%=label%>: <%}%> | <%= value %>",
              {% endverbatim %}
              multiTooltipTemplate: "<%= value %>",
              onAnimationProgress: function(){},
              onAnimationComplete: function(){}
          }


          var memoryShit = [
              {% for job in queryJob.query %}{
                str: "{{job.date | date('Y-m-d, h:i:s') }}",
                gid: {{job.id}}
              },
              {% endfor %}
            ];


          var data = {
              labels: [

              {% for job in queryJob.query %}
                "{{job.date | date('Y-m-d, h:i:s') }}",
              {% endfor %}

              ],

              datasets: [
                  {
                      label: "My First dataset",
                      type: "line",
                      fillColor: "rgba(220,220,220,0)",
                      strokeColor: "rgba( 0, 132, 180, 1)",
                      pointColor: "rgba( 0, 132, 180, 1)",
                      pointStrokeColor: "#fff",
                      pointHighlightFill: "#fff",
                      pointHighlightStroke: "rgba( 0, 132, 180, 1)",
                      data: [
                      {% for job in queryJob.query %}
                        "{{job.impression }}",
                      {% endfor %}   
                      ]
              }
              ]

          };
          var options = {
              bezierCurve: false
          }

          var ctx = document.getElementById("myChart").getContext("2d");
          var myLineChart = new Chart(ctx).Line(data,options);
          myLineChart.toBase64Image();

          $("#myChart").click(function(e) {
             var activeLines = myLineChart.getPointsAtEvent(e); 
             
            for(i=0; i<memoryShit.length; i++){
              if (activeLines[0].label == memoryShit[i].str){
                    var pathRed = Routing.generate('info_query', { id: memoryShit[i].gid });
                    window.open(pathRed);
                  }
            }


          });
        </script>
    </body>
</html>