<!doctype>
<html>
    <head>
        {% include 'AppBundle:Templates:required-css.html.twig' %}
        <link href="{{ asset('bundles/app/css/job-list.css') }}" rel="stylesheet">
    </head>

    <body>
        
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
            <div class="logo-holder">
                <a href="{{path('profile')}}"><img src="{{ asset('bundles/app/img/logo.png') }}"></a>
            </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


              <ul class="nav navbar-nav navbar-right">

                <li><a href="{{path('profile')}}"><button type="submit" class="btn btn-navigation">Home</button></a></li>
                {% if premium == true %}
                                    <li><a href="{{ path('premium_jobs_list') }}"><button type="submit" class="btn btn-navigation">Tracking</button></a></li>
                {% endif %}
                <li><a href="{{path('premium_queries_list')}}"><button type="submit" id="active" class="btn btn-navigation">History</button></a></li>
                {% if premium == false %}
                    <li><a href="{{path('get_premium')}}"><button type="submit" class="btn btn-navigation btn-navigation-pay">Payment</button></a></li>
                {% endif %}
                <li><a href="{{path('logout')}}"><button type="submit" class="btn btn-navigation">Log out</button></a></li>
              </ul>
            </div>
          </div>
        </nav>

        <div class="table">
             <table>
              <tr>
                    <th>Keyword</th>
                    <th>Date and time</th> 
                    <th>Average sentiment</th>
                    <th></th>
              </tr>
              {% for query in queries%}
              <tr>
				<tr>
					<td>{{query.text}}</td>
					<td>{{query.date|date('Y-m-d')}}</td> 
					<td>{{query.impression}}</td>
					<td><a href="{{path('info_query', {'id' : query.id} )}}"><button type="submit" class="btn btn-view-track">Show stats</button></a></td>
				</tr>
              </tr>
              {% endfor %}
              
            </table>
        </div>
           

        {% include 'AppBundle:Templates:required-js.html.twig' %}



    <body>
</html>