{# user je user i dobija se bool premium da znas da li da dajes dva linka jos ili ne#}
<!doctype>
<html>
    <head>
        {% include 'AppBundle:Templates:required-css.html.twig' %}
        <link href="{{ asset('bundles/app/css/search-jobs.css') }}" rel="stylesheet">
    </head>

    <body>
        
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
            <div class="logo-holder">
                <a href="{{path('profile')}}"><img src="{{ asset('bundles/app/img/logo.png') }}"></a>
            </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


              <ul class="nav navbar-nav navbar-right">

                <li><a href="{{ path('profile') }}"><button type="submit"  class="btn btn-navigation">Home</button></a></li>
                <li><a href="{{ path('premium_jobs_list') }}"><button type="submit"id="active" class="btn btn-navigation">Tracking</button></a></li>
                <li><a href="{{ path('premium_queries_list') }}"><button type="submit" class="btn btn-navigation">History</button></a></li>
                <li><a href="{{path('logout')}}"><button type="submit" class="btn btn-navigation">Log out</button></a></li>
              </ul>
            </div>
          </div>
        </nav>
        
        <div class="search-jobs-holder">
        <div id="SelectMap"></div>
        <div class="form-main">


		    {{ form_start(form) }}
                <div>
				{{ form_widget(form.text, { 'attr': {'placeholder': 'Keyword', 'required' : '' }}) }} 
                </div>
                
			    {{ form_widget(form.lng, { 'attr': {'required' : '', 'value': '-75.254394'}}) }} 
                {{ form_widget(form.lat, { 'attr': {'required' : '', 'value': '42.930719'}}) }}
                <div>
                {{ form_widget(form.radius, { 'attr': {'placeholder': 'Radius in kilometers', 'required' : ''}}) }}
                </div>
                <p class="date-text">Start date and time:</p>
                {{ form_widget(form.start_date, { 'attr': { 'required' : ''}}) }}
                <p class="date-text">End date and time:</p>
                {{ form_widget(form.end_date, { 'attr': {'required' : ''}}) }}
                {{ form_widget(form.submit, { 'attr': {'required' : ''}}) }}
		    {{ form_end(form) }}


           
        </div>
        </div>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
        {% include 'AppBundle:Templates:required-js.html.twig' %}
        <script type="text/javascript" src="{{ asset('bundles/app/js/dragMarkerMapsApi.js') }}"></script>
        <script type="text/javascript">
        /* ajax primer   
        var mapsApi = Routing.generate('map_get');
        O.sendAjaxRequest(mapsApi,"ok", O.addToMap);

          
        $("#PhotoInput").change(function(){
            readURL(this);
        });
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                
                reader.onload = function (e) {
                    O.slika = e.target.result;
                    saveImage(input, O.slika);
                }
                
                reader.readAsDataURL(input.files[0]);
            }
        }

        O.changePhotoSuccess = function(data){
            $("#UserPhoto").attr('src', O.slika);
        }
        O.changePhotoError = function(data){
            console.log(data);
        }
        function saveImage(input, imgData){
            var homePath = Routing.generate('user_photo_change');
            O.sendAjaxRequest(homePath, imgData, O.changePhotoSuccess, O.changePhotoError);
        }
        */
        </script>
    <body>
</html>