{# user je user i dobija se bool premium da znas da li da dajes dva linka jos ili ne#}
<!doctype>
<html>
    <head>
        {% include 'AppBundle:Templates:required-css.html.twig' %}
        <link href="{{ asset('bundles/app/css/profile.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/app/css/loader.css') }}" rel="stylesheet">
    </head>

    <body>
        
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
            <div class="logo-holder">
                <a href="{{path('profile')}}"><img src="{{ asset('bundles/app/img/logo.png') }}"></a>
            </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


              <ul class="nav navbar-nav navbar-right">

                <li><button type="submit" id="active" class="btn btn-navigation">Home</button></li>
                {% if premium == true %}
                    <li><a href="{{ path('premium_jobs_list') }}"><button type="submit" class="btn btn-navigation">Tracking</button></a></li>
                {% endif %}
                <li><a href="{{path('premium_queries_list')}}"><button type="submit" class="btn btn-navigation">History</button></a></li>
                {% if premium == false %}
                    <li><a href="{{path('get_premium')}}"><button type="submit" class="btn btn-navigation btn-navigation-pay">Payment</button></a></li>
                {% endif %}
                <li><a href="{{path('logout')}}"><button type="submit" class="btn btn-navigation">Log out</button></a></li>
              </ul>
            </div>
          </div>
        </nav>
        
        <div id="SelectMap"></div>
        <div class="form-main">


		    {{ form_start(form) }}

				{{ form_widget(form.text, { 'attr': {'placeholder': 'Keyword', 'required' : '' }}) }} 
			    {{ form_widget(form.lng, { 'attr': {'required' : '', 'value': '-75.254394'}}) }} 
                {{ form_widget(form.lat, { 'attr': {'required' : '', 'value': '42.930719'}}) }}
                {{ form_widget(form.radius, { 'attr': {'placeholder': 'Radius in kilometers', 'required' : ''}}) }}

		    {{ form_end(form) }}

           
        </div>
        
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
        {% include 'AppBundle:Templates:required-js.html.twig' %}
        <script type="text/javascript" src="{{ asset('bundles/app/js/dragMarkerMapsApi.js') }}"></script>

    </body>
</html>